test/test_chacha
test/test_wots
test/test_horst
test/test_xmss
test/test_xmss_core
test/test_xmss_core_fast
test/test_xmssmt
test/test_xmssmt_core
test/test_xmssmt_core_fast
test/test_xmss_core_XMSS*
test/test_xmss_core_fast_XMSS*
test/test_xmssmt_core_XMSSMT*
test/test_xmssmt_core_fast_XMSSMT*
test/speed
test/gen_testvectors
